.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full,
.column-half {
  width: 100%;
}

/* navbar */
header > .container > .row {
  padding: 0.5rem 0.4rem 0.4rem;
}

header > .container > .row > .column-full {
  display: flex;
  justify-content: space-between;
}

/* homepage: recipe of the day */
.rotd-content {
  display: flex;
  justify-content: center;
  flex-basis: 1920px;
}

.ingr,
.nutr,
.view-recipe {
  margin: 0 8.3em;
}

.row > .column-full.rotd-content > .row > .column-half {
  margin-left: 5em;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 50%;
  }

  .column-half {
    width: 50%;
  }
} */
