* {
  font-family: sans-serif;
}

body {
  background-color: rgb(224, 224, 224);
}

.bolded {
  font-weight: bold;
}

/* navbar */

header {
  display: flex;
  background-color: rgb(167, 163, 163);
}

.navigation-menu {
  display: flex;
  list-style: none;
  margin-top: 1.3em;
  gap: 2em;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

#home {
  color: white;
  font-size: 1.75rem;
  white-space: nowrap;
}

.home {
  background-color: rgb(167, 163, 163);
  margin: 1em 0 1em 3em;
}

#favorites,
#your-recipes,
#write-recipe {
  color: white;
}

/* #write-recipe {
  margin-right: 53em;
} */

#search {
  border-style: none;
  border-radius: 2px;
  height: 2.2em;
  padding-left: 0.5em;
  color: rgb(167, 163, 163);
}

#search-btn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: -37px;
  cursor: pointer;
}

/* homepage: recipe of the day */
.rotd-banner {
  background-color: rgb(255, 253, 228);
  text-align: center;
}

.recipe-title {
  display: inline;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

.recipe-title-wrapper {
  display: flex;
  justify-content: center;
}

.recipe-img {
  margin: 0 auto 2em;
  border-radius: 10px;
}

.ingredients-title,
.nutrition-title {
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
}

.ingredients-list {
  margin: 1em 0;
  padding: 0 1em;
}

li {
  padding: 0.2em;
}

.nutrition-list {
  list-style: none;
  padding: 0;
}

.view-full-recipe-title {
  font-weight: bold;
}

.recipe-line {
  width: 90%;
  float: left;
  height: 1px;
  border-style: none;
  background-color: black;
}

/* heart icon */
.heart-btn {
  background-color: transparent;
  border-style: none;
}

.fa-heart {
  font-size: 2em;
}

.fa-heart:hover {
  cursor: pointer;
  color: #f50057;
}

.fas {
  color: #f50057;
}

/* search results */
.divider-line {
  width: 90%;
  height: 1px;
  border-style: none;
  background-color: black;
}
